# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# copias locales de env (sensibles)
Copia de .env*
.yarn/
*.zip
# vercel
.vercel

# typescript
*.tsbuildinfo

# Public (por defecto NO se publica contenido)
/public/*

# Permitir solo lo necesario para el POC y traducciones
!/public/manuals/
!/public/manuals/**
!/public/locales/
!/public/locales/**

# Permitir iconos (si la app los requiere). Ajusta si quieres bloquearlos también.
!/public/images/
/public/images/*
!/public/images/icons/
!/public/images/icons/**

# Datos/fotos y archivos internos: siempre ignorados
/public/images/avatars/
/public/images/Fotos/
/public/BmFiles/
/public/ExcelFiles/
/public/RhFiles/

# Modelos (muy grandes) - se descargan vía scripts
/public/models/*
!/public/models/README.md

# Basura de sistema (repetido al final porque arriba hay reglas de "unignore")
**/.DS_Store
**/Thumbs.db

